<h2>
<% if flash[:notice] %>
  <p id="flash"><%= flash[:notice] %></p>
<% end %>
</h2>

<p>
  <b>Name</b>
  <%= @message.name %>
</p>

<p>
  <b>Email:</b>
  <%= @message.email %>
</p>

<p>
  <b>Phone (optional):</b>
  <%= @message.phone %>
</p>

<p>
	<b>Message:</b>
	<%= @message.message %>
</p>