<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :college %><br />
    <%= f.select :college, ["Pomona", "Claremont McKenna", "Scripps", "Pitzer", "Harvey Mudd", "Claremont Graditute University", "Keck Graduate Institue of Applied Life Sciences"] %>
  </div>
  
  <%=f.hidden_field :fb_id%>
  <%=f.hidden_field :name%>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
