<%= form_for@request, html: { class: "form-horizontal" } do |f| %>
    <fieldset>
        <legend><%=@form_name%></legend>
    <% if @request.errors.any? %>
      <div class="alert alert-error">
        <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

        <ul>
        <% @request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :title, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, class: "control-label" %>
      <div class="controls">
        <%= f.text_area :description, rows: 5, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date, "Needed by", class: "control-label"%>
      <div class="controls">
        <%= f.datetime_select :date, { order: [:month, :day, :year], discard_minute: true, discard_hour: true} , { class: "span2"} %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Submit request", class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
