<div class="row" id="request-show">
	<div class="padded-top">
		<div class="well span8 offset1">
			<h2><%=@request.title%>
				<span class="pull-right">
					<table>
						<tr class="pull-right">
							<td>Needed by:</td>
						</tr>
						<tr>
							<td><%= format_date(@request.date)%></td>
						</tr>
					</table>
				</span>
			</h2>
			<p id="description">
				<%=@request.description%>
			</p>
			<div id="footer-row" class="row-fluid">
				<div class="span4">
					<div class="show-buttons">
						<a class="btn btn-success btn-large" href="#">Lend</a>
						<a class="btn btn-default btn-large" href=<%=root_url%>>Back</a>
					</div>
					<div class="clear-both">
					</div>
				</div>
				<div class="span8">
					<div class="fb-info">
						<div class="fb-name">
							<a href=<%="http://facebook.com/" + @request.user.fb_id%>><%=@request.user.name%></a>
							<p><%=@request.user.college%></p>
						</div>
						<div class="fb-picture">
							<img src=<%=@request.user.picture%> alt="Profile picture"></img>
						</div>
					</div>
					<div class="clear-both">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="row response-form">
	<div class="well span8 offset1">
		<%= form_for @response, html: { class: "form-vertical" } do |f| %>
		    <% if @request.errors.any? %>
		      <div id="error_explanation">
		        <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

		        <ul>
		        <% @request.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		        </ul>
		      </div>
		    <% end %>

		    <div class="info">
			    <div class="control-group">
			      <%= f.label :name, class: "control-label" %>
			      <div class="controls">
			        <%= f.text_field :name, class: "input" %>
			      </div>
			    </div>

			    <div class="control-group">
			      <%= f.label :email, class: "control-label" %>
			      <div class="controls">
			        <%= f.text_field :email, class: "input" %>
			      </div>
			    </div>

			    <div class="control-group">
			      <%= f.label :phone, class: "control-label" %>
			      <div class="controls">
			        <%= f.text_field :phone, class: "input" %>
			      </div>
			    </div>
			</div>
			<div class="message">
			    <div class="control-group">
			      <%= f.label :message, class: "control-label" %>
			      <div class="controls">
			        <%= f.text_area :message, rows: 9, class: "input-xlarge" %>
			      </div>
			    </div>
			</div>
			<%= f.submit "Send!", class: "btn span3" %>
		<% end %>
	</div>
</div>
