<!DOCTYPE html>
<html>
<head>
  <title>Independent Study</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
	<%unless signed_in? %>
		<%=link_to "Sign in", controller: "session", action: "create"%>
	<%else%>
		<%=link_to "Sign out", controller: "session", action: "destroy"%>
	<%end%>
</div>

<div>
	<%=@current_user%>
</div>
<%= yield %>

</body>
</html>
